# Python 
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
/media
/staticfiles

# Virtual environment
dashboard-env/
venv/
env/

# Node / React (when I do add them)
node_modules/
build/
dist/

# OS stuff
.DS_Store
Thumbs.db
