{% extends "base.html" %}

{% block content %}
    <h1>Welcome, {{ user.email }}</h1>
    <p>You are logged in. This is the dashboard.</p>
    <div style = "margin:20px;">
        <button id = "connect-bank" style = "padding:10px; font-size:16px;">Connect your bank</button>
    </div>

    <form method = "get">
            <input type="radio" name="type" value="all" {% if filter_type == 'all' %}checked{% endif %}>
            All
        </label>
        <label style="margin-left:10px;">
            <input type="radio" name="type" value="income" {% if filter_type == 'income' %}checked{% endif %}>
            Income
        </label>
        <label style="margin-left:10px;">
            <input type="radio" name="type" value="expense" {% if filter_type == 'expense' %}checked{% endif %}>
            Expense
        </label>
            <input type = "text" name = "search" placeholder = "Search description" value = "{{ search_query }}">
            <button type = "submit">Filter</button>
            <a href = "{% url 'dashboard' %}">Reset</a>
        </form>

    <p><strong>Total income: </strong>{{ income }}</p>
    <p><strong>Total expenses: </strong>{{ expenses }}</p>
    <p><strong>Balance: </strong>{{ balance }}</p>

    <h2>Transactions for this month</h2>
    <ul>
        {% for transaction in transactions %}
            <li>
                {{ transaction.date }} — {{ transaction.type }} — {{ transaction.description }} — {{ transaction.amount }}
            </li>
        {% empty %}
            <li>No transactions this month.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'feedback' %}">Have feedback?</a>
    <a href="{% url 'feedback_list' %}">View your feedback</a>
    <a href="{% url 'list_transactions' %}">Check all transactions</a>
    <a href="{% url 'add_transaction' %}">Add a transaction</a>

    <!--Plaid-->
    <script src = "https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    {% csrf_token %}
    <scipt>
        const csrfToken = decoment.querySelector('[name = csrfmiddlewaretoken]').value;
        const connectButon = document.getElementById('connect-bank');

        connectButon.addEventListener('click', async () => {
            try {
                const response = await fetch('{% url "get_plaid_token" %}',{
                    headers: {
                        'Content-Type' : 'application/json',
                        'X-CSRFToken' : csrfToken,
                    },
                });
                if (!response.ok){
                    throw new Error('Failed to get link token');
                }
                const data = await response.json();
                const linkToken = data.link_token;

                const handler = Plaid.create({
                    token : linkToken,
                    onSuccess : async (public_token, metadata) => {
                        console.log('Public token recieved:', public_token);
                        console.log('Metadata:', metadata);

                        try {
                            const saveResponse = await fetch('{% url 'save_access_token' %}',
                            {method : 'POST',
                             headers : {
                                'Content-Type' : 'application/json',
                                'X-CSRFToken' : csrfToken,
                             },
                             body : JSON.stringify({public_token : public_token})
                        });
                            const saveResult = await saveResponse.json();
                            if (saveResult.success){
                                console.log('Access token saved successfully!');
                                alert('Bank account connected successfully!');
                            }else {
                                console.error('Failed to save access token:', saveResult.error);
                                alert('An error occured while saving the bank connection.');
                            }
                        } catch (error) {
                            console.error('Error saving access token:', error);
                            alert('An error occured while communicating with the server');

                        }
                    },
                    onExit : (err, metadata) => {
                        console.log('Plaid link exited.');
                        if (err != null){
                            console.error('Plaid link error:', err);
                        }
                    },
                });

                handler.open()
            } catch (error) {
                console.error('Error connecting to bank:', error);
                alert('Could not connect to Plaid. Please try again later.');
            }
        });
    </scipt>
{% endblock content %}
